.image-upload-wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-large {
    width: 66%;
    height: 60px;
}

.btn-large>span {
    font-size: 1.2em;
}

.drop-zone {
    border: 3px dotted black;
    width: 89%;
    min-height: 200px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.format-select-btn-container {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.image-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
}

.image-figure {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0;
}

.image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mantine-Button-root {
    border-radius: 0%;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

@media screen and (min-width: 1023px) {}