.image-upload-wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-large {
    width: 66%;
    height: 60px;
}

.btn-large>span {
    font-size: 1.2em;
}

.drop-zone {
    border: 3px dotted #3f51b5;
    width: 89%;
    min-height: 200px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.format-select-btn-container {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.image-item-parent {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}


.image-figure {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0;
}

.image-item__btn-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mantine-Button-root {
    border-radius: 5px;
}

/* .sticky {
    position: sticky;
    top: 0;
    z-index: 100;
} */

@media screen and (min-width: 1023px) {
    .drop-zone {
        width: 928px;
        height: 264px;
    }

    .image-item-parent {
        width: 928px;
    }

    .btn-large {
        width: 692px;
        height: 111px;
    }

    .format-select-btn-container {
        width: 928px;
    }

    .image-item {
        width: 928px;
    }

    .btn-med {
        height: 94px;
        width: 385px;
    }
}